
<body>
<!--   <div class="index-body">
    <div class="nav-image">
      <div class="image-sentence">
        <p>IRLは大学受験だけじゃない</p>
      </div>
    </div> -->

        <div class="nav-image">
      <!-- <div class="nav-body"> -->
          <div class="nav-img" onclick="location.href='/'" style="cursor: pointer">
          </div>
          <div class="navbar">
            <ul>
              <li><input type="button" value="学生登録" class="nav-button" style="cursor: pointer"></li>
              <li><input type="button" value="社会人登録" class="nav-button" style="cursor: pointer"></li>
              <li><input type="button" value="ログイン" class="nav-button" style="cursor: pointer"></li>
              <li><input type="button" onclick="location.href='/mypage'" value="マイページ" class="nav-button" style="cursor: pointer"></li>
            </ul>
          </div>
          <!-- <div class="image-sentence"> -->
            <p>IRLは大学受験だけじゃない</p>
          <!-- </div> -->
        </div>

    <!-- 検索 -->
    <div class="find">
      <div class="find-box">
        <h2>条件から探す</h2>


        <div class="form">
          <h3>大学名</h3>
            <input type="text" placeholder="大学名を入力してください" class="type-university">
        </div>

        <div class="form">
          <h3>高校名</h3>
            <input type="text" placeholder="高校名を入力してください" class="type-university">
        </div>

        <div class="form">
          <h3>卒業年度</h3>
          <select>
            <option value="2013">2013年度</option>
            <option value="2014">2014年度</option>
            <option value="2015">2015年度</option>
            <option value="2016">2016年度</option>
            <option value="2017">2017年度</option>
          </select>
        </div>

        <div class="form">
          <h3>職種</h3>
            <label><input type="checkbox" name="Checkbox" value="チェックボックス">営業 </label>
            <label><input type="checkbox" name="Checkbox" value="チェックボックス">企画 </label>
            <label><input type="checkbox" name="Checkbox" value="チェックボックス">マーケティング </label>
            <label><input type="checkbox" name="Checkbox" value="チェックボックス">エンジニア </label>
        </div>
      </div>

      <div class="form">
      <h3>業界</h3>
        <label><input type="checkbox" name="Checkbox" value="チェックボックス">広告 </label>
        <label><input type="checkbox" name="Checkbox" value="チェックボックス">IT系 </label>
        <label><input type="checkbox" name="Checkbox" value="チェックボックス">コンサル </label>
        <label><input type="checkbox" name="Checkbox" value="チェックボックス">人材 </label>
      </div>

      <div class="form">
        <h3>担当チューター</h3>
        <select>
          <option value="onishi">大西</option>
          <option value="tomita">富田</option>
          <option value="goto">後藤</option>
          <option value="yamato">大和</option>
          <option value="katou">加藤</option>
        </select>
      </div>
    </div>


    <!-- 社会人一覧 -->
    <div class="worker-list clearfix">
      <h2>一覧</h2>

      <div class="worker-1">
        <div class="worker-1-img">
        </div>

        <div class="worker-1-detail1">
        </div>

        <div class="worker-1-detail2">
          大西鴻太<br>
          リクルートライフスタイル<br>
          慶応義塾大学<br>
          千葉県立東葛飾高等学校<br>
          2013年度卒業<br>
          営業<br>
          広告
        </div>

      </div>

      <div class="worker-2">
      </div>

      <div class="worker-3">
      </div>

      <div class="worker-4">
      </div>

      <div class="worker-5">
      </div>

      <div class="worker-6">
      </div>

    </div>

  </div>
</body>

